@import './transition.scss';
@import './sidebar.scss';

//main-container全局样式
.app-container {
    padding: 20px;
    overflow-y: auto;
    flex: 1;
    background-color: #fff;
}

// 分页

.pagination-container {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}

/* toast样式重写 */
.el-message {
	min-width: 100px;
	padding: 0px 20px 0 16px;
	height: 56px;
	border: none;
	background: #FFFFFF;
	box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.18);
    display: flex;
    align-items: center;
    .el-message__icon{
        font-size: 24px;
        margin-right: 16px;
        transform: translateY(1px);
    }
    .el-message__content{
        font-size: 16px;
        color: rgba(1, 6, 33, 0.9);
    }
}


// 操作栏

.operation {
    display: flex;
    margin-bottom: 20px;
}

// 树形菜单样式重写
.yg-tree {

    .el-tree-node__content:hover,
    .el-tree-node:focus>.el-tree-node__content {
        color: #048790;
        background-color: transparent;

        .el-tree-node__expand-icon {
            color: #048790;

            &.is-leaf {
                color: transparent;
            }
        }
    }
}

// 带checkbox的树形菜单
.yg-tree-checkbox {
    padding-left: 42px;

    &::before {
        content: "";
        position: absolute;
        left: 17px;
        top: 10px;
        bottom: 10px;
        border-left: dashed 1px #d9d9d9;
    }

    .el-tree-node__children {
        padding-left: 42px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 15px;
            top: -11px;
            bottom: 21px;
            border-left: dashed 1px #d9d9d9;
        }
    }

    .el-tree-node__content {
        height: 40px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: -24px;
            top: 50%;
            width: 27px;
            height: 1px;
            border-top: dashed 1px #d9d9d9;
        }
    }

    .el-tree-node__content>label.el-checkbox {
        order: -1;
        margin-left: 8px;
    }

    .el-tree-node__content>.el-tree-node__expand-icon {
        border: solid 1px #d9d9d9;
        width: 14px;
        height: 14px;
        padding: 0;
        border-radius: 2px;
        margin-top: -2px;
        margin-right: 8px;
        transform: none;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
            color: #a7a7a7;
            content: "\e6d9";
            font-size: 10px;
            transform: translateY(1px);
        }

        &.expanded {
            &::before {
                content: "\e6d8";
            }
        }

        &.is-leaf {
            display: none;
        }
    }

    .el-tree-node__content:hover,
    .el-tree-node:focus>.el-tree-node__content {
        background-color: transparent;

        .el-tree-node__expand-icon {
            &.is-leaf {
                color: transparent;
            }
        }
    }
}

.custom-tree-node {
    flex: 1;
    overflow: hidden;

    p {
        width: 100%;
        font-size: 14px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding-right: 10px;
    }
}

.yg-table {
    border: solid 1px #dfe6ec;
    border-bottom: none;
    border-radius: 4px;
    .el-table__header th {
        background-color: #FAFAFA;
    }
}

@mixin scrollBar {
    &::-webkit-scrollbar-track-piece {
        background: #d3dce6;
    }

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background: #99a9bf;
        border-radius: 20px;
    }
}

/* 
    多选下拉框样式重写 
    添加属性
    class="multi-select"
    popper-class="multi-select-popper"
*/
.multi-select {
    .el-tag {
        background-color: #f4f4f4;
        color: #4c4f5e;
        .el-tag__close {
            display: none;
        }
    }
    .el-input__suffix {
        .el-input__suffix-inner {
            .el-select__caret {
                font-size: 16px;
                color: #999;
                &::before {
                    content: "\e78f";
                }
            }
        }
    }
}
.multi-select-popper {
    .el-select-dropdown__item.hover,
    .el-select-dropdown__item.selected.hover {
        background-color: transparent;
    }
    .el-select-dropdown__item {
        padding-left: 32px;
        display: flex;
        align-items: center;
        &::after {
            content: "";
            position: absolute;
            left: 8px;
            top: 50%;
            margin-top: -8px;
            width: 16px;
            height: 16px;
            line-height: 16px;
            border-radius: 2px;
            border: solid 1px #999;
            text-align: center;
        }
        &.selected {
            font-weight: 400;
            &::after {
                right: inherit;
                background: #048790;
                color: #fff;
                border: none;
            }
        }
    }
    .el-select-dropdown__item:hover {
        background-color: transparent;
        color: #048790;
    }
}